streamlit
openai
tensorflow==2.9.1
pillow
numpy
pandas
requests
groq


faiss-cpu
langchain
python-dotenv
langchain_google_genai
langchain_groq
langchain-community
PyPDF2
protobuf==3.19.5

langchain_community
beautifulsoup4 
